/* adds a faint separator above any element with .with-divider */
.with-divider:not(:first-child) {
  border-top: 1px dashed rgb(100 116 139 / .7); /* slate-500/70 
    padding-top: .75rem;                          /* pt-3 to compensate */
    margin-top: .75rem;                           /* mt-3 for spacing */
  }